<!DOCTYPE html>
<html lang="en">
    <head>
        <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
  rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">


</head>
        <title>Claudia's Portfolio</title>

    <body style="text-align: center;">
    <nav class="navbar navbar-expand-sm" style="background-color: purple;">
  <div class="container">

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="../templates/index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="../templates/learnaboutme.html">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="../templates/myprojects.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="../templates/index.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>


        <div class="banner">
            <h1>Claudia's Portfolio</h1>
        </div>
        
        <div class="card p-3 m-3">
        <h2>Welcome to my Portfolio!</h2>
        <p>Hello! My name is Claudia, and I am a Business Adminsitration student currently doing a minor in Creative Programming.</p>
        </div>

        <h3>About Me</h3>
        <p>I am 20 years old and come from Gran Canaria. I love reading, watching series, and baking. I also like doing sports, I go to the gym every day and play padel with my dad twice a week.</p>
        <img src="/static/img/aboutme.jpg" width="200" height="200" style="border: 3px solid #800080;" class="square-img"><br>
        <a href="../templates/learnaboutme.html" class="btn btn-primary mybutton">Learn more about me</a><br>

        <h3>Skills and Expertise</h3>
        <p>In the business field, my skills range from Supply Chain Management to Business Analyst, using tools such as Excel and Power BI. In the Programming field, I have basic Python skills.</p><br>
        <img src="/static/img/skills.jpg" width="200" height="200" style="border: 3px solid #800080;" class="square-img"><br>
        <a href="../templates/myprojects.html" class="btn btn-primary mybutton">See my projects</a><br>

        <h3>Contact Me</h3>
        <p>If you would like to collaborate or discuss a project, feel free to reach out! I am always excited to connect with like-minded individuals and explore new opportunities. Let's create something amazing together.</p><br>
        <img src="/static/img/contact.jpeg" width="200" height="200" style="border: 3px solid #800080;" class="square-img"><br>
        <a href="mailto:claudia.mederos.perez@student.nhlstenden.com" class="btn btn-primary mybutton">Email me</a>

        <a href="../templates/flexgrid.html" class="btn btn-primary mybutton">Playing with Flex and Grid</a><br>
        
        <footer class="text-center text-white py-3" style="background-color: purple; margin-top: 40px;">
    <p style="margin: 0;">© 2025 Claudia's Portfolio | All rights reserved</p>
</footer>

    </body>
</html>
