<!DOCTYPE html>
<html lang="en">
<head>
    <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
  rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">
  
</head>
   <title>Learn about me</title>
<body style="text-align: center;">
     <div class="banner">
            <h1 style="color: pink;">About Me</h1>
        </div>

        <div class="card p-3 m-3">
    <p>I come from Gran Canaria, where I was born in the year 2005. I went to a British school my whole life and that's why I decided to do my degree in an International university like NHL Stenden. My favourite hobbies are reading, watching series, and playing volleyball or padel. I am now doing an online minor on Creative Programming and looking for a internship starting February. </p>
    <img src="/static/img/me.png" width="200" style="border:3px solid #800080; display: block; margin: 0 auto;"><br>
    <a href="../templates/index.html" class="btn btn-primary mybutton">Back to Homepage</a>
    </div>
    <footer class="text-center text-white py-3" style="background-color: purple; margin-top: 40px;">
    <p style="margin: 0;">© 2025 Claudia's Portfolio | All rights reserved</p>
</footer>

</body>
</html>
