<!DOCTYPE html>
<html lang="en">
<head>
    <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
  rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

    <title>My Projects</title>
<body style="text-align: center;">
        <div class="banner">
            <h1 style="color: pink;">My Projects</h1>
        </div>

        <div class="card p-3 m-3">
    <p>In my two years studying in Leeuwarden, I had the opportunity to work with many real companies and get together with them for exciting projects like: building dashboards, creating advisory reports, and leading a sneaker company. Having worked in so many projects, I have had the chance to improve my teamworking skills, problem-solving capacity, and patience. My next project is creating a final project for my online minor.</p>
    
    <figure>
        <img src="/static/img/dashboard.png" height="200" style="border:3px solid #800080">
        <figcaption style="font-size: 10px;"><b>(Image blurred due to privacy reasons)</b></figcaption>
    </figure>
    </div>

    <h2>More Projects</h2>
   <div class="card p-3 m-3">
  <div class="row text-center">
    <div class="col-md-4 mb-3 project-card">
      <img src="/static/img/B&S.png" class="square-img" style="border:3px solid #800080">
      <div class="overlay">Project 1</div>
      <p>In this project, I created a poster to visually demonstrate our client an extensive internal and external analysis of their company.</p>
    </div>
    <div class="col-md-4 mb-3 project-card">
      <img src="/static/img/stakeholder.png" class="square-img" style="border:3px solid #800080">
      <div class="overlay">Project 2</div>
      <p>In this project we created a stakeholder map</p>
    </div>
    <div class="col-md-4 mb-3 project-card">
      <img src="/static/img/process.png" class="square-img" style="border:3px solid #800080">
      <div class="overlay">Project 3</div>
      <p>Here, I created a process map for a visualisation of the workflow</p>
    </div>
    <div class="col-md-4 mb-3 project-card">
      <img src="/static/img/flyer.png" class="square-img" style="border:3px solid #800080">
      <div class="overlay">Project 4</div>
      <p>In this project I created a flyer to use as marketing for the beer brand to attract tourists</p>
    </div>
    <div class="col-md-4 mb-3 project-card">
      <img src="/static/img/calculations.png" class="square-img" style="border:3px solid #800080">
      <div class="overlay">Project 5</div>
      <p>For this project, I did a balance sheet and calculated the break-even point and represented it with a graph</p>
    </div>
    <div class="col-md-4 mb-3 project-card">
      <img src="/static/img/graph.png" class="square-img" style="border:3px solid #800080">
      <div class="overlay">Project 6</div>
      <p>Here, I did numerous graphs to find if there was a correlation between two satisfaction variables</p>
    </div>
  </div>
</div>




    <a href="index.html" class="btn btn-primary mybutton">Back to Homepage</a>
    <footer class="text-center text-white py-3" style="background-color: purple; margin-top: 40px;">
    <p style="margin: 0;">© 2025 Claudia's Portfolio | All rights reserved</p>
</footer>

</body>
</html>
